<!DOCTYPE html>
<html>

<head>
    <title>RaspberryPI - Admin Panel</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
{% block content %}

{% endblock %}

<hr />

<footer>
    <p>&copy;
        <span id="recent-year"></span>&nbsp;All rights reserved - Developed by
        <a href="http://tlnguyen.com">TL Nguyen</a>
    </p>
</footer>

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="js/common.js"></script>
{% endblock %}
</body>

</html>