{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <form method="post" action="login">
        <h2>
            Login
        </h2>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" placeholder="Username" id="username" name="username" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password" name="password" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</div>
{% endblock %}
